/* =========================== */
/* Global css variable declaration */
/* =========================== */
:root {
    --backgroundColor: #FAFAFA;
    --color: #1F2023;
}

/* Styles */
body {
    background-color: var(--backgroundColor);
    color: var(--color);
}

